.pageHeader {
  padding: 100px 0;
  background-color: var(--color-titan-white);

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    color: var(--color-blue-zodiac);
    font-weight: 700;
  }
}
